<h1>New Merchant</h1>

<section class="details-box">
  <form class="" action="/merchants" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required="required" >
    <br>
    <input class="btn btn--submit" type="submit" value="Create Merchant">
  </form>
<section class="details-box">
