<h1>New Transaction</h1>

<section class="details-box">
<form class="" action="/transactions" method="post">

  <label for="merchant_id">Merchant ID:</label>
  <input id="merchant_id" type="text" name="merchant_id" required="required" >

  <label for="tag_id">Tag ID:</label>
  <input id="tag_id" type="text" name="tag_id" required="required" >

  <label for="amount">Amount:</label>
  <input id="amount" type="text" name="amount" required="required" >

  <br>
  <input class="btn btn--submit" type="submit" value="Create Tag">
</form>
<section class="details-box">
