<h1>New Transaction</h1>

<section class="details-box">
<form class="" action="/transactions" method="post">

  <label for="merchant_id">Merchant ID:</label>
  <input id="merchant_id" type="text" name="merchant_id" required="required" >

  <label for="tag_id">Tag ID:</label>
  <input id="tag_id" type="text" name="tag_id" required="required" >

  <label for="amount">Amount:</label>
  <input id="amount" type="text" name="amount" required="required" >

  <label for="budget_id">budget_id:</label>
  <input id="budget_id" type="text" name="budget_id" required="required" >

  <label for="trans_date">Date:</label>
  <input id="trans_date" type="date" name="trans_date" required="required" >

  <br>
  <input class="btn btn--submit" type="submit" value="Create Transaction">
</form>
<section class="details-box">
